* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    text-decoration: none;
}

body {
    overflow: hidden;
    background-color: #1D2D44;
    color: #F0EBD8;
}

header, .main-content, .copyright {
    padding: 70px 0;
    text-align: center;
    position: relative;
    top: 30px;
}

.main-content {
    margin-top: -10%;
}

form {
    display: inline-block;
}

form .checkFormEmail {
    font-weight: bold;
    position: relative;
    top: -10px;
    left: 40px;
    color:#d25634;
}
form > small {
    margin-top: -20%;
    margin-left: -50%;
}

form > small a {
    font-size: 14px;
    margin-left: 16px;
    position: relative;
    top: -10px;
}

form > small > a:hover {
    color: #748CAB;
}

form input {
    max-width: 500px;
    width: 350px;
    margin: 20px;
    display: block;
    background-color: #F0EBD8;
    padding: 13px;
    text-align: center;
    border: none;
    border-radius: 25px;
    font-size: 16px;
}

form input:hover {
    background-color: #fbf7ec;
    cursor: pointer;
}

form input:focus {
    cursor: inherit;
}

form input[type=submit] {
    width: 220px;
    padding: 10px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 18px;
    color: #F0EBD8; 
    background-color: #748CAB;
    letter-spacing: 0.1em;
    cursor: pointer;
    border: 1px solid rgba(240, 235, 216, 0.2);
    border-radius: 20px;
}


form label {
    padding: 10px;
}

form input[type=submit]:hover {
    background-color: #F0EBD8;
    color: #1D2D44;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}

.footer-content .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content .contact {
    display: inline-block;
    text-align: center;
    margin-left: 30px;
    position: absolute;
    top: 55%;
}

.footer-content .contact h3:hover {
    color:#748CAB;
}

footer a {
    color: #F0EBD8;
}

.fa-envelope {
    margin: 20px;
}

.error-password {
    display: block;
    margin-top: -30px;
    margin-left: -160px;
    color: #d25634;
}

.error-email,
.invalid {
    position: relative;
    top: -16px;
    left: 8px;
    color: #d25634;
}

.forgetPassword a {
    color: #F0EBD8;
    position: absolute;
    top: 62%;
    left: 37.2%;
}

.checkFormPassword {
    position: relative;
    left: -68px;
    top: -12px;
    font-weight: bold;
    color:#d25634;
}


/* Reponsive */

/* Media query pour le responsive */

/* Media query pour les grands écrans */
@media (min-width : 1600px) {
    .forgetPassword a {
        top: 63%;
        left: 40.5%;
    }
}

/* Media query pour le responsive */
@media screen and (max-width: 768px) {
    header {
        margin-top: -60px;
        margin-bottom: 30px;
    }
    form {
        margin-top: -90px;
    }
    form input[type=submit]{
        position: relative;
        top: 30px;
    }

    .forgetPassword a {
        top: 52%;
        left: 14%;
        margin-bottom: 14px;
    }

    .footer-content .contact {
        margin-left: 30px;
        position: absolute;
        top: -290px;
        right: 236px;
        font-size: small;
    }

    .fa-envelope {
        display: none;
    }

    .footer-content .copyright {
        margin-left: 30px;
        position: absolute;
        top: -80px;
        left: 28%;
    }
}
