* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    text-decoration: none;
}

body {
    overflow: hidden;
    background-color: #1D2D44;
    color: #F0EBD8;
    overflow: hidden;
}

a {
    color:#F0EBD8;
}

i {
    position: absolute;
    top: 20px;
    left: 50px;
}

.container {
    width:50%;
    margin-left:26%;
    margin-top: 12%;
    background-color: #3E5C76;
    border-radius: 30px;
    min-height: 340px;
}

.container h1 {
    position: relative;
    top: 30px;
    left: 206px;
    font-size: 26px;
}

form {
    width: 100%;
    margin-top: 90px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 140px;
}

form input[type=email]{
    width: 300px;
    height: 28px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    text-indent: 5%;
    margin-right: 130px;
}

form input[type=email]:hover {
    cursor: pointer;
    opacity: 0.9;
}

form label {
    position: relative;
    top: 5px;
    right: 4px;
    font-weight: bold;
}

form input[type=submit]{
    position: relative;
    width: 120px;
    top: 84px;
    right: 426px;
    padding: 10px;
    background-color: #1D2D44;
    color: #F0EBD8;
    border: none;
    border-radius: 30px;
    font-size: 16px;
}

form input[type=submit]:hover {
    cursor: pointer;
    background-color: #F0EBD8;
    color: #1D2D44;
}

i {
    position: relative;
    top: 13px;
    left: -24px;
}

a {
padding: 14px;
}

.bounce {
    position: relative;
    left: 110px;
    top: 34px;
    font-size: 18px;
}

a:hover {
    animation: bounce 0.35s ease infinite alternate;
    cursor: pointer;
}

@keyframes bounce{
    from {top: 40px;}
    to   {top: 22px;}
}

.emailErrorMessage {
   color: #e4927b;
   font-size: 14px;
   position: absolute;
   top: 48.4%;
   left: 46.8%;
   -webkit-text-stroke: 1px #d25634;
}

.confirmPassword {
    position: absolute;
    top: 410px;
    left: 600px;
}

/* Media query pour les grands écrans */

@media (min-width : 1600px) {
    .container h1 {
        left: 210px;
        font-size: 28px;
    }

    /* .bounce {
        position: relative;
        left: 110px;
        top: 34px;
        font-size: 18px;
    } */

    .container {
        width: 40%;
        margin-left: 580px;
    }

    form label {
        width: 200px;
        margin-right: -15px;
    }

    form input[type=submit]{
        right: 440px;
        width: 200px;
        top: 104px;
    }

    form input[type=email]{
        width: 50%;
    }

    .emailErrorMessage {
        top: 45.5%;
        left: 45.9%;
    }
}
