/* header - top bar */

header img {
    border: 1px solid rgba(240, 235, 216, 0.2);
    border-radius: 50%;
    text-align: center;
    padding: 5px;
}

header img:hover {
    opacity: 0.6;
    cursor: pointer;
}

header .topbar {
    margin-left: 60px;
    max-height: 70px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(240, 235, 216, 0.2);
    padding: 10px;
}

header .topbar .logo {
    display: flex;
    margin-left: 10px;
}

header .topbar .logo h3 {
    margin-top: 16px;
    margin-left: 10px;
}

header .topbar .user-info {
    display: flex;
    flex-direction: row-reverse;
}

header .topbar .user-info .user-role {
    margin-right: 16px;
    margin-top: 7px;
    text-align: left;
}

.sidebar .fa-tower-cell {
    background-color: inherit;
    color:#F0EBD8;
}

.sidebar .fa-calendar-days {
    background-color: #F0EBD8;
    color: #2F3F54;
    padding-left: 20px;
    padding-right: 20px;
}

.sidebar .fa-calendar-days:hover {
    color: #F0EBD8;
}

.container {
    display: flex;
}

.container-reunions {
    margin-left: 10%;
    border-left:2px solid rgba(240, 235, 216, 0.2);
}

.container-reunions h1 {
    margin-top: 20px;
    margin-left: 50px;
}

.containerLeftInfo h1 {
    margin-top: 20px;
    margin-left: 140px;
}

.createReunionBtn {
    width: 110%;
    height: 52px;
    padding: 6px 16px;
    position: relative;
    left: 90px;
    top: 30px;
    border-radius: 40px;
    border: none;
    background-color: #2F3F54;
    color: #F0EBD8;
    font-size: 18px;
}

.createReunionBtn:hover {
    cursor: pointer;
    background-color: #F0EBD8;
    color: #0D1321;
}

.createReunionBtn i {
    padding: 4px;
}

table {
    background-color: #2F3F54;
    color: #F0EBD8;
    border: solid 1px rgba(240, 235, 216, 0.2); 
    padding: 10px; 
    text-align: center; 
    width: 90%;
    margin-left: 5%;
    border-radius: 15px; 
    margin-top: 5%;
}

table thead tr th {
    font-weight: 500;
    padding: 10px;
}

table tbody tr td {
    padding: 6px;
}

table button {
    background-color: #0D1321;
    color: #F0EBD8;
    border-radius: 40px;
    border: none;
    padding: 10px;
}

table button:hover {
    background-color: #F0EBD8;
    color: #0D1321;
    cursor: pointer;
}

/* ADD REUNION */

.containerLeftInfoIndex {
    width: 40%;
}



.container-create-reunions {
    padding-top: 40px;
    border-left: 1px solid rgba(240, 235, 216, 0.2);
    width: 100%;
    display: flex;
    justify-content: center;
}

.create-form-group {
    background-color: #748cab;
    height: 80%;
    width: 90%;
    border-radius: 30px;
    margin: auto;
    text-align: center;
}

.createReunionForm {
width: 100%;
}

.createReunionForm h1 {
    text-align: center;
    margin-top: -2%;
    margin-bottom: 4%;
}

.form-group {
    padding: 10px;
}

.goBackReunionBtn {
    width: 70%;
    height: 52px;
    padding: 6px 16px;
    position: relative;
    left: 106px;
    top: 30px;
    border-radius: 40px;
    border: none;
    background-color: #2F3F54;
    color: #F0EBD8;
    font-size: 18px;
}

.goBackReunionBtn:hover {
    cursor: pointer;
    background-color: #F0EBD8;
    color: #0D1321;
}

.goBackReunionBtn i {
    padding: 4px;
}

.group-name {
    border-bottom: solid 1px rgba(240, 235, 216, 0.2);
}

form {
    height: 100%;
}

form ul {
    text-align: left;
    margin-top: 10px;
    background-color: #5e728d;
    color: #F0EBD8;
    max-height: 150px;
    overflow-y:auto;
    width: 50%;
    border: solid 1px #0D1321;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 28%;
}

form ul li {
    padding: 10px;
    margin-left: 10px;
}

form label {
    color: #F0EBD8;
}

form input {
    border-radius: 10px;
    border: none;
    height: 22px;
    width: 20%;
    text-indent: 5%;
}

form input:hover {
    cursor: pointer;
    opacity: 0.9;
}

form input[type="text"] {
    margin-left: 6px;
}

form h2 {
    padding: 4px;
    color: #2F3F54;
}

form h3 {
    font-weight: 500;
    margin-top: 6px;
    color: #0D1321;
}

form select {
    margin-top: 10px;
    padding: 8px;
    border: none;
    border-radius: 6px;
    background-color: #F0EBD8;
    color:#2F3F54;
    font-weight: 500;
}

form select:hover {
    cursor: pointer;
    opacity: 0.9;
}