.search h1 {
    text-align: center;
    font-size: 38px;
}

.search {
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 40em;
    background-color: #748CAB;
    border-radius: 30px;
    padding: 8% 50px;

}

form {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 5%;
}

.search-bar {
    width: 60%;
    padding: 10px;
    border-radius: 15px;
    background-color: #F0EBD8;
}

.submit {
    width: 150px;
    background-color: #F0EBD8;
    color: #3E5C76;
    font-weight: 600;
    font-size: 18px;
    padding: 6px;
    border-radius: 15px;

}

.search h2 {
    margin-top: 5%;
    font-size: 20px;
    color: #0D1321;
}

hr {
    margin-top: 10px;
    padding: 3px;
    background-color: #F0EBD8;
    border-radius: 5px;
}

.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #0D1321;
    width: 80%;
    margin: auto;
}

.user-info .fa-ellipsis-vertical {
    cursor: pointer;
}

.user-info a {
    color: #0D1321;
}

.user-info:hover {
    background-color: rgba(29, 45, 68, 0.4);

}

.user {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #0D1321;
    margin: 2%;
}

.user img {
    border-radius: 50px;
}

.user p {
    font-weight: 500;
}

.user-info form {
    display: inline;
}

.switch {
    display: inline-block;
    position: relative;
    width: 70px;
    height: 40px;
    cursor: pointer;
    overflow: hidden;

}

.switch input {
    position: absolute;
    top: -40px;
    left: -30px;
    width: 0;
    height: 0;
}

.switch input+span {
    position: absolute;
    top: 8px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #7c7d7f;
    border-radius: 20px;
}

.switch input:checked+span {
    background: #3E5C76;
}

.switch input+span:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 4px;
    width: 22px;
    height: 22px;
    background: white;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: all .5s;
}

.switch input:checked+span:before {
    left: 34px;
}

.action-user {
    display: flex;
}

.is-active {
    background-color: #0D1321;
    color: #F0EBD8;
    padding: 10px;
    min-width: 100px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* mobile */

@media screen and (max-width: 996px) {
    .options {
        display: flex !important;
        justify-content: unset !important;
        margin-top: 100% !important;
    }

    .actions {
        display: none;
    }

    .search {
        width: 100vw;
        height: 90vh;
    }

    .search h1 {
        font-size: 26px;
    }

    .search .submit {
        font-size: 13px;
        width: 90px;
    }

    .user-info {
        width: 100%;
        flex-direction: column;
        border-bottom: 1px solid #0D1321;
    }


    .user-info img {
        display: block;
    }

    .is-active {
        margin-bottom: 15px;
    }

}

